* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.interaction-form__text {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #3F4254;
}

html {
  font-family: 'Poppins', sans-serif;
}

html body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 28px;
  background: #E5E5E5;
}

html body .container .interaction-form {
  border-radius: 6px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 30px rgba(82, 63, 105, 0.05);
          box-shadow: 0px 0px 30px rgba(82, 63, 105, 0.05);
  width: 50%;
}

html body .container .interaction-form .interaction-form__header .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px inherit;
  padding: 27px 30px 12px 30px;
}

html body .container .interaction-form .interaction-form__header .header__wrapper .interaction-form__globe {
  background: #F1F3FF;
  border-radius: 6px;
  padding: 14px;
}

html body .container .interaction-form .interaction-form__header .header__wrapper .interaction-form__view {
  margin-left: 12px;
}

html body .container .interaction-form .interaction-form__header .header__wrapper .interaction-form__view .interaction-form__link-video {
  display: block;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: #181C32;
}

html body .container .interaction-form .interaction-form__header .header__wrapper .interaction-form__view .interaction-form__identification {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #B5B5C3;
}

html body .container .interaction-form .interaction-form__state .state__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 30px 30px 30px;
  border-bottom: 2px solid #F4F7FA;
}

html body .container .interaction-form .interaction-form__state .state__wrapper .interaction-form__status .interaction-form__text {
  margin-bottom: 12px;
}

html body .container .interaction-form .interaction-form__state .state__wrapper .interaction-form__status .interaction-form__button-status {
  background: #FFE2E5;
  border-radius: 6px;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #F64E60;
  border: 0px;
  padding: 12px 10px 12px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .container .interaction-form .interaction-form__state .state__wrapper .interaction-form__status .interaction-form__button-status .button-status__text-state {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #F64E60;
  margin-left: 13px;
}

html body .container .interaction-form .interaction-form__state .state__wrapper .interaction-form__dayBudget .interaction-form__text {
  margin-bottom: 27px;
}

html body .container .interaction-form .interaction-form__state .state__wrapper .interaction-form__dayBudget .interaction-form__vizualization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .container .interaction-form .interaction-form__state .state__wrapper .interaction-form__dayBudget .interaction-form__vizualization .interaction-form__scale {
  width: 240px;
  height: 6px;
  background: #F4F7FA;
  border-radius: 6px;
}

html body .container .interaction-form .interaction-form__state .state__wrapper .interaction-form__dayBudget .interaction-form__vizualization .interaction-form-percent {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #B5B5C3;
  margin-left: 12px;
}

html body .container .interaction-form .interaction-form__state .state__wrapper .interaction-form__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}

html body .container .interaction-form .interaction-form__state .state__wrapper .interaction-form__time .interaction-form__clock {
  margin-right: 9px;
}

html body .container .interaction-form .interaction-form__state .state__wrapper .interaction-form__time .interaction-form__nubmer {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #7E8299;
}

html body .container .interaction-form .interaction-form__indicators .interaction-form__wrapper {
  padding: 26px 30px 36px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html body .container .interaction-form .interaction-form__indicators .interaction-form__wrapper .interaction-form__text {
  margin-bottom: 12px;
}

html body .container .interaction-form .interaction-form__indicators .interaction-form__wrapper .interaction-form__field {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #7E8299;
  padding: 8px 10px;
  border: 1px solid #F3F6F9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  width: 120px;
  height: 36px;
}

html body .container .interaction-form .interaction-form__footer .footer__wrapper {
  border-top: 1px solid #E4E6EF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 21px 30px 24px 30px;
}

html body .container .interaction-form .interaction-form__footer .footer__wrapper .interaction-form__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .container .interaction-form .interaction-form__footer .footer__wrapper .interaction-form__actions .interaction-form__cash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
  background: #F3F6F9;
  border-radius: 6px;
  padding: 11px 11px 9px 14px;
}

html body .container .interaction-form .interaction-form__footer .footer__wrapper .interaction-form__actions .interaction-form__cash .interaction-form__amount {
  margin-left: 14px;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #7E8299;
}

html body .container .interaction-form .interaction-form__footer .footer__wrapper .interaction-form__actions .interaction-form__add {
  padding: 10px;
  background: #F1F3FF;
  border: 0px;
  border-radius: 6px;
}

html body .container .interaction-form .interaction-form__footer .footer__wrapper .interaction-form__actions .interaction-form__add .interaction-form__plus {
  width: 16px;
  height: 16px;
}

html body .container .interaction-form .interaction-form__footer .footer__wrapper .interaction-form__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 17px 10px 14px;
  background: #F1F3FF;
  border-radius: 6px;
}

html body .container .interaction-form .interaction-form__footer .footer__wrapper .interaction-form__details .interaction-form__text {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #3445E5;
  margin-left: 11px;
}
/*# sourceMappingURL=main.css.map */